.feedback-container {
  padding: 4px;
  background-color: #333;
  color: white;
  margin: 4px;
  border-radius: 8px;
   height:60px;
  overflow-y: scroll;
}


.feedback-title {
  font-size: 1rem;
  margin: 2px;
  padding: 2px;
}

.feedback-item {
  background-color: #333;
  padding: 4px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.feedback-header {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 4px;
}

.feedback-image {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  margin-right: 6px;
}

.feedback-name {
  font-size: 0.6rem;
  color: white;
}

.feedback-content {
  text-align: left;
  margin: 2px;
  padding: 2px;
}

.feedback-rating {
  font-size: 0.7rem;
  color: #f39c12;
  margin: 0px;
  padding: 0px;
}

.feedback-review {
  font-size: 0.7rem;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* Responsive design */
@media (max-width: 1200px) {
  .feedback-title {
    font-size: 0.9rem;
  }

  .feedback-name {
    font-size: 0.55rem;
  }

  .feedback-rating {
    font-size: 0.65rem;
  }

  .feedback-review {
    font-size: 0.65rem;
  }
}

@media (max-width: 768px) {
  .feedback-title {
    font-size: 0.8rem;
  }

  .feedback-name {
    font-size: 0.5rem;
  }

  .feedback-rating {
    font-size: 0.6rem;
  }

  .feedback-review {
    font-size: 0.6rem;
  }
}

@media (max-width: 600px) {
  .feedback-container {
    padding: 2px;
    
  }

  .feedback-item {
    padding: 2px;
  }

  .feedback-title {
    font-size: 0.7rem;
  }

  .feedback-name {
    font-size: 0.45rem;
  }

  .feedback-rating {
    font-size: 0.55rem;
  }

  .feedback-review {
    font-size: 0.55rem;
  }
}
